<div id="new-cow-form">
	<%= form_for @cow, :remote => true do |f| %>
		<table id="new-cow-table">
		<tr>
			<th>I.D. (SNU)</th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th>성별</th>
			<td><%= f.label :gender_0, "수" %><%= f.radio_button :gender, 0 %>
			<%= f.label :gender_1, "암" %><%= f.radio_button :gender, 1 %></td>
		</tr>
		<tr>
			<th>개체번호</th>
			<td><%= f.text_field :code %></td>
		</tr>
		<tr>
			<th>생년월일</th>
			<td>
				<%= text_field_tag :b_year, "", :maxlength => 4 %>. <%= text_field_tag :b_month, "", :maxlength => 2 %>. <%= text_field_tag :b_day, "", :maxlength => 2 %>
			</td>
		</tr>
		<tr>
			<th>부</th>
			<td>
				<%= text_field_tag :father %>
			</td>
		</tr>

		<tr>
			<th>모</th>
			<td>
				<%= text_field_tag :mother %>
			</td>
		</tr>
		<tr>
			<th>유전자</th>
			<td>
				<table class="new-gene-table">
					<%= render :partial => "/genes/gene_form", :locals => {:name => "BM1824", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "BM2113", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "ETH10", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "ETH225", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "HEL1", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "SPS115", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "TGLA122", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "TGLA227", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "TGLA126", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "CSSM36", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "ETH3", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "INRA023", :disabled => true} %>
					<%= render :partial => "/genes/gene_form", :locals => {:name => "", :disabled => false} %>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="ralign">
				<%= link_to "add_gene", add_gene_genes_path, :id => "add-gene-button", :class => "buttonize", :remote => true %>
			</td>
		</tr>

		<tr>
			<td colspan="2" class="calign">
				<%= f.submit "저장(Save)", :class => "buttonize", :id => "submit-cow" %>
			</td>
		</tr>
	</table>
<% end %>	
</div>
